html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	height: 100%;
	-webkit-text-stroke-width: 0.2px;
}

#__next {
	height: 100%;
}

.content_layout {
	display: flex;
	align-items: start;
	height: 100%;
}

.body {
	width: 100%;
}

.content {
	padding: 15px;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
	  
  }
  body {
	  
  }
}

.fa {
	margin-right: 10px;
}

.w-full {
	width: 100%;
}

.sidebar {
    background: rgb(85, 85, 85);
    color: rgb(218, 218, 218);
    overflow: hidden;
	height: 100%;
	width: 290px;
}

@keyframes sidebar_to { from { width: 0; } to { width: 18rem; } }
@keyframes sidebar_icons_to { from { width: 0 } to { width: 4rem } }

.sidebar-full {
    animation: sidebar_to 0.5s both;
}

.sidebar-icons {
    animation: sidebar_icons_to 0.5s both;
}

.sidebar .header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(66, 66, 66);
    font-weight: 500;
    cursor: pointer;
}

.sidebar .items .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    padding-left: 8px;
    border: 2px solid transparent;
    font-size: 13.5px;
}

.sidebar .item .item-icon {
	font-size: 1.35rem;
}

.sidebar .items .item div {
    display: flex;
    align-items: center;
	width: 100%;
}

.sidebar .items .item svg {
    margin-right: 8px;
}

.sidebar .items .item:hover {
    cursor: pointer;
    background: rgb(90, 90, 90);
    border-left: 2px solid lightblue;
}

.sidebar .items .active {
    border-left: 2px solid rgb(55, 55, 255) !important;
    color: lightblue;
    background: rgb(90, 90, 90);
}

.sidebar .large-items .active {
    border-left: 2px solid rgb(55, 55, 255) !important;
    color: lightblue;
    background: rgb(90, 90, 90);
}

.sidebar .active svg {
    color: lightblue;
}

.sidebar .items .sub-items .item {
    padding: 6.5px 0;
    padding-left: 40px;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
	font-size: 12px;
}

/* Large items */
.sidebar .large-items .item {
    padding-right: 1px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.sidebar .large-items .item:hover {
    background: rgb(90, 90, 90);
    border-left: 2px solid lightblue;
    cursor: pointer;
}

.sidebar .large-items .sub-items {
    position: absolute;
    margin-top: 0;
    margin-left: 11rem;
    background: rgb(85, 85, 85);
    border-left: 1px solid gray;
}

.sidebar .large-items .sub-items .item {
    padding: 6.5px 14px !important;
}

.sidebar .arrow {
	padding-top: 3px;
	display: flex;
	justify-content: end;
}

@keyframes height_to { from { height: 0 } to { height: auto } }
@keyframes height_from { from { height: auto } to { height: 0 } }

.w_from {
    animation: width_from 0.5s both;
}

.o_from {
    animation: opacity_from 0.5s both;
}

.w_to {
    animation: width_to 0.5s both;
}

.o_to {
    animation: opacity_to 0.5s both;
}

@keyframes width_from { from { width: 18rem } to { width: 3.6rem; } }
@keyframes width_to { from { width: 3.6rem } to { width: 18rem;  } }

@keyframes opacity_from { from { opacity: 1 } to { opacity: 0 }}
@keyframes opacity_to { from { opacity: 0 } to { opacity: 1 }}

/*NavBar*/

.navbar {
	display: flex;
	padding: 0 !important;
	box-shadow: 0 0.05rem 0.2rem rgb(0 0 0 / 15%);
}

@media screen and (max-width: 768px) {
	.sidebar {
		display: none;
	}
	
	.navbar .control-label {
		display: none;
	}
	
	.navbar .search-box {
		display: none !important;
	}
}

.navbar a {
	display: flex;
}

.navbar svg {
	cursor: pointer;
}

.navbar .control-label {
	margin-left: 8px;
}

.navbar .items-block {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.navbar .block:hover {
	background: whitesmoke;
}

.navbar .blocks {
	display: flex;
}

.navbar .block {
	display: flex;
	color: dimgray;
	padding: 11.5px;
}

.navbar .block .label {
	color: #e27878;
}

.navbar .logo {
	height: 25px;
}

.navbar .search-box {
	display: flex;
	align-items: center;
	padding: 0 25px;
	padding-left: 15px;
}

.navbar .search-box input {
	width: 210px;
	padding: 4px 8px;
	border: 1px solid #d4d4d4;
	outline: none;
	color: dimgrey;
	font-size: 14px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.navbar .search-box button {
	padding: 2.5px 7px;
	border: 1px solid #d4d4d4;
	border-left: none;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	outline: none;
}

.navbar .user-block {
	display: flex;
	padding-right: 10px;
}

.navbar .user-block .labels-block {
	line-height: 14px;
}

.navbar .user-block .user-name {
	font-size: 14px;
}

.navbar .user-block .user-role {
	font-size: 11px;
	color: #4949ff;
}

/*DataGrid*/

.data-grid-tools {
	display: flex;
	justify-content: space-between;
	padding: 8px 0;
}

.data-grid-tools .tool-block {
	display: flex;
}

.data-grid-tools .tool-block .tool {
	margin-left: 8px;
}

.data-grid-tools .tool-button {
	border: 1px solid #ababab;
	width: 32px;
    height: 32px;
    border-radius: 5px;
    background: white;
    line-height: 0;
}

.data-grid-tools .tool-button img {
	max-width: 100%;
}

.data-grid {
	border-left: 1px solid #e6e6e6;
	border-top: 2px solid #acafff;
	width: 100%;
}

.data-grid td {
	text-align: center;
	border-right: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
	padding: 4px 8px;
}

.data-grid .header {
  width: auto;
	background: #f9f9f9;
	border-bottom: 1.1px solid whitesmoke !important;
}

.data-grid .header .actions-column {
	width: 103px !important;
}

.data-grid .header .cell {
	text-align: center;
	width: auto;         
	padding: 4px 8px;
	border-right: 1px solid #e6e6e6;
	cursor: pointer;
}

.data-grid .header .cell:hover {
	background: #efefef;
}

.data-grid td .actions {
	display: flex;
	justify-content: end;
}

.data-grid td .actions i {
	font-size: 18px;
	cursor: pointer;
	color: rgb(66, 66, 66);;
}

/*Data*/

.datagrid .header li {
	display: inline-block;
}

.list li span.category {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.data-grid .data .data-row {
	width: 100%;
	display: flex;
}

.data-grid .data .data-row .cell {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 4px 8px;
	border-right: 1px solid #e6e6e6;
	cursor: pointer;
}

.data-grid .relationShip {
	
}

.data-grid .relationShip .content {
	display: flex;
}